<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>720285259405-i65i6jnrjiiqvbr7ojrie7vm190qihgp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.720285259405-i65i6jnrjiiqvbr7ojrie7vm190qihgp</string>
	<key>API_KEY</key>
	<string>AIzaSyBHLJRZzrF24dzeRguPHP2cMpHUAukF4A0</string>
	<key>GCM_SENDER_ID</key>
	<string>720285259405</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fwd.workspace</string>
	<key>PROJECT_ID</key>
	<string>fwd-workspace-b1a57</string>
	<key>STORAGE_BUCKET</key>
	<string>fwd-workspace-b1a57.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:720285259405:ios:701d4f32ce7d1dbea3f4c4</string>
</dict>
</plist>